<div class="pageContainer">
    <div style="min-height: 100vh;">
        <h4 style="padding: 1.5rem; margin-top: 3.5rem;">
            At VSL Marine, I learnt about Angular and have implemented its powerful concepts to create this
            website. I have gained expertise in various Angular features, including directives, forms, reactive forms
            with validations, API integration, services, and more.

            Using directives, I have enhanced the website's functionality and customized the user experience. Our forms
            are
            designed to provide a seamless and interactive interface, allowing users to input and submit data
            effortlessly.
            With reactive forms and validations, I ensure that the information entered is accurate and meets the
            required
            criteria.

            API integration plays a crucial role in this website, enabling to fetch data from external sources and
            display
            it dynamically. I have implemented both GET and POST requests to communicate with APIs and ensure smooth
            data
            flow. My services handle the logic behind data manipulation and retrieval, ensuring efficient functionality
            throughout the website.

            Thank you for visiting this website, and I hope you have a great experience exploring all the features and
            functionalities I have implemented using Angular.

        </h4>
    </div>
</div>