<div class="movieAllContent">
    <div class="searchDiv">
        <input [(ngModel)]="searchMovie" (ngModelChange)="onMovieSearch()" name="movieSearch" type="text" class="searchIp" placeholder="Search for movies...">
    </div>
    <div class="movieContainer">
        <div *ngFor="let movies of filteredMovieArr" class="movieContent">
            <div *ngIf="movies.primaryImage.url" class="card">
                <img [src]="movies.primaryImage.url" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{movies.originalTitleText.text}}</h4>
                    <h6>Released On: {{movies.releaseYear.year}}</h6>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
</div>